* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cards {
    background: #F2F2F2;
    width: 100%;
    height: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.card__item {
    perspective: 1000px;
    transform-style: preserve-3d;
    cursor: pointer;
}

.card__item .card-inner {
    width: 400px;
    height: 450px;
    background: rgb(181, 205, 209);
    transition: transform .1s;
    background-size: cover;
}

.card__item:nth-child(1) .card-inner {
    background-image: url(../images/13-4.png);
}

.card__item:nth-child(2) .card-inner {
    background-image: url(../images/13-5.png);
}

.card__item:nth-child(3) .card-inner {
    background-image: url(../images/13-6.png);
}

.loader {
    width: 100%;
    height: 350px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.progress {
    position: relative;
    transform: rotate(-90deg);
    z-index: 99;
    margin-bottom: 20px;
}

.progress__circle {
    position: relative;
    stroke-dasharray: 50 10;
    transition: stroke-dasharray .2s;
    z-index: 99;
}

.percent {
    position: relative;
    z-index: 99;
    width: 100px;
    border: none;
    background: #F2F2F2;
    padding: 10px 12px;
    outline: none;
}

.absolute {
    position: absolute;
    z-index: 1;
    margin-top: -28px;
}

.parallax {
    position: relative;
    width: 100%;
    height: 90vh;
    background: rgb(181, 205, 209);
    overflow: hidden;
}

.parallax .layer {
    position: absolute;
    width: 110%;
    height: 540px;
    bottom: 0;
    left: -100px;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax .layer:nth-child(1) {
    background-image: url(../images/13-5.png);
    bottom: 100px;
    filter: blur(4px);
}

.parallax .layer:nth-child(2) {
    background-image: url(../images/13-4.png);
    left: -300px;
    filter: blur(1px);
    bottom: -50px;
}

.parallax .layer:nth-child(3) {
    background-image: url(../images/13-6.png);
    filter: blur(8px);
    bottom: -100px;
}